#MainWindow {
  background-color: rgba(0, 0, 0, 0);
  padding: 0px;
}

.NotificationBox {
  background-color: black; 
  border-radius: 5px;
  border: solid 1px;
  margin: 5px;
  padding: 5px;
}

.NotificationLow {
}

.NotificationNormal {
  border-color: purple;
}

.NotificationUrgent {
  border-color: red;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration-line: underline;
}
