#MainWindow {
  background-color: rgba(0, 0, 0, 0);
  padding: 0px;
  /* opacity: 0; */
}

.MainBox {
  /* background-color: rgba(0, 0, 0, 0); */
  padding: 0px;
  /* opacity: 0; */
}

.NotificationBox {
  opacity: 100;
  background-color: black;
  border-radius: 5px;
  border: solid 1px;
  margin: 5px;
  padding: 5px;
}

.NotificationLow {
}

.NotificationNormal {
  border-color: purple;
}

.NotificationUrgent {
  border-color: red;
}

.miscbox {
  margin: 0px 10px 0px 0px;
}

.bodybox {
  margin: 0px 10px 0px 0px;
}

.imagebox {
  margin: 0px 0px 0px 10px;
}

.appname {
  font-size: 0.8rem;
}

.timestamp {
  font-size: 0.8rem;
}

.summary {
  font-size: 0.8rem;
}

.body {
  font-size: 1.2rem;
}

.icon {
  font-size: 2rem;
}

.image {
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration-line: underline;
}
