#MainWindow {
  background-color: rgba(0, 0, 0, 0);
  padding: 0px;
}

.NotificationBox {
  border-radius: 5px;
  border: solid 1px;
  margin: 5px;
}

.NotificationLow {
}

.NotificationNormal {
  border-color: purple;
}

.NotificationUrgent {
  border-color: red;
}
